################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/ControleHorasDDD/ControleHorasDDD.Aplicacao/obj/Debug/netcoreapp3.1
/ControleHorasDDD/ControleHoras.Dominio/bin/Debug/netcoreapp3.1
/ControleHorasDDD/ControleHorasDDD.Aplicacao/bin/Debug/netcoreapp3.1
/ControleHorasDDD/ControleHOrasDDD.Aplicacao.DTO/bin/Debug/netcoreapp3.1
/ControleHorasDDD/ControleHOrasDDD.Aplicacao.DTO/obj/Debug/netcoreapp3.1
