################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/ControleHorasDDD/ControleHorasDDD.Aplicacao/obj/Debug/netcoreapp3.1
